/* src/app/sass/base/components/header.scss */
header {
  background: #663552;
}

.js-nav {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s linear;
}

.active {
  max-height: 10rem;
}
