.container--home {
  padding-bottom: 4em;
  @include md {
    display: flex;
    align-items: center;
  }
}

.intro--home {
  @include md {
    margin-right: 1em;
    flex-basis: 25em;
  }
}

.code {
  @include md {
    flex-basis: 30em;
  }
}

.status {
  display: block;
  padding: 2em;
  background: #0d0d0d;
  border-radius: 5px;
  line-height: 1.2;
  @include md {
    padding: 1.5em;
  }
}

.indent {
  padding-left: 1em;
}

.projects {
  ul {
    list-style: none;
    > li {
      position: relative;
      overflow: hidden;
      > a {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 400px;
        > img {
          display: block;
          max-width: 50%;
          transition: max-width 0.3s ease-in-out;
        }
        &:hover {
          > img {
            max-width: 40%;
          }
        }
      }
    }
  }
}

.yonsei {
  background:#2A4398;
}

.scribe {
  background: #12114E;
}